
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/********** Bootstrap Overrides **********/
.form-check {
    margin-bottom: 1rem;
}
a:hover {
    text-decoration: none;
}

/********** Site Styles **********/
body {
    padding-top: 65px;
}

.global-error {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    .alert {
        margin: 0;
    }
}

.VuePassword__Message {
    position: absolute;
    right: 0px;
  }